<div [@routerTransition]>

<div class="row">
  <div class="col-md-6" >
    <div class="card border-secondary" style="width: 80%">
      <div class="card-header">Podmień mapę</div>
      <div class="card-body text-secondary">
        <h5 class="card-title">Wybierz plik:</h5>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Wybierz plik źródłowy" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">...</span>
          </div>
        </div>
        <br>
        <h5 class="card-title">Skaluj mapę:</h5>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-smx">X</span>
          </div>
          <input type="text" class="form-control" aria-label="X" aria-describedby="inputGroup-sizing-smx">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-smy">Y</span>
          </div>
          <input type="text" class="form-control" aria-label="X" aria-describedby="inputGroup-sizing-smy">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card border-secondary" style="width: 80%">
      <div class="card-header">Ustawienia mapy</div>
      <div class="card-body text-secondary">
        <h5 class="card-title">Częstotliwość odświeżania:</h5>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-smfps">Czas w sekundach</span>
          </div>
          <input type="text" class="form-control" aria-label="X" aria-describedby="inputGroup-sizing-smfps">
        </div>
        <h5 class="card-title">Maksymalna liczba wyświetlanych obiektów:</h5>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-smile">0-1000 (0 - bez ograniczeń)</span>
          </div>
          <input type="text" class="form-control" aria-label="X" aria-describedby="inputGroup-sizing-smile">
        </div>

      </div>
    </div>
  </div>
</div>


